.App-footer {
  text-align: center;
  color: #ffffff;
}

a {
  color: rgb(141, 137, 137) !important;
}
body {
  height: 100vh;
  margin: 0 auto;
  background-image: url("road4.jpg");
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  body {
    background-image: url("road2.jpg");
    height: 100%;
  }
}
