.temp {
  font-size: 55px !important;
  font-weight: bolder;
}
.unit {
  position: relative;
  top: -26px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .temp {
    font-size: 50px !important;
  }
  .unit {
    font-size: 13px;
  }
}
